# Project 1: SAT & ACT Analysis

The first markdown cell in a notebook is a great place to provide an overview of your entire project. You will likely want to at least state your

## Problem Statement

as well as an

## Executive Summary

If you want to, it's great to use relative links to direct your audience to various sections of a notebook. **HERE'S A DEMONSTRATION WITH THE CURRENT SECTION HEADERS**:

### Contents:
- [2017 Data Import & Cleaning](#Data-Import-and-Cleaning)
- [2018 Data Import and Cleaning](#2018-Data-Import-and-Cleaning)
- [Exploratory Data Analysis](#Exploratory-Data-Analysis)
- [Data Visualization](#Visualize-the-data)
- [Descriptive and Inferential Statistics](#Descriptive-and-Inferential-Statistics)
- [Outside Research](#Outside-Research)
- [Conclusions and Recommendations](#Conclusions-and-Recommendations)

**If you combine your problem statement, executive summary, data dictionary, and conclusions/recommendations, you have an amazing README.md file that quickly aligns your audience to the contents of your project.** Don't forget to cite your data sources!

*All libraries used should be added here*

In [200]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

## 2017 Data Import and Cleaning

#### 1. Read In SAT & ACT  Data

Read in the `sat_2017.csv` and `act_2017.csv` files and assign them to appropriately named pandas dataframes.

In [201]:
sat = pd.read_csv("../data/sat_2017.csv")
act = pd.read_csv("../data/act_2017.csv")

#### 2. Display Data

Print the first 10 rows of each dataframe to your jupyter notebook

In [202]:
sat.head(10)

,State,Participation,Evidence-Based Reading and Writing,Math,Total
0,Alabama,5%,593,572,1165
1,Alaska,38%,547,533,1080
2,Arizona,30%,563,553,1116
3,Arkansas,3%,614,594,1208
4,California,53%,531,524,1055
5,Colorado,11%,606,595,1201
6,Connecticut,100%,530,512,1041
7,Delaware,100%,503,492,996
8,District of Columbia,100%,482,468,950
9,Florida,83%,520,497,1017

In [203]:
act.head(10)

,State,Participation,English,Math,Reading,Science,Composite
0,National,60%,20.3,20.7,21.4,21.0,21.0
1,Alabama,100%,18.9,18.4,19.7,19.4,19.2
2,Alaska,65%,18.7,19.8,20.4,19.9,19.8
3,Arizona,62%,18.6,19.8,20.1,19.8,19.7
4,Arkansas,100%,18.9,19.0,19.7,19.5,19.4
5,California,31%,22.5,22.7,23.1,22.2,22.8
6,Colorado,100%,20.1,20.3,21.2,20.9,20.8
7,Connecticut,31%,25.5,24.6,25.6,24.6,25.2
8,Delaware,18%,24.1,23.4,24.8,23.6,24.1
9,District of Columbia,32%,24.4,23.5,24.9,23.5,24.2

In [204]:
sat.shape

(51, 5)

In [205]:
act.shape

(52, 7)

In [206]:
sat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 5 columns):
State                                 51 non-null object
Participation                         51 non-null object
Evidence-Based Reading and Writing    51 non-null int64
Math                                  51 non-null int64
Total                                 51 non-null int64
dtypes: int64(3), object(2)
memory usage: 2.1+ KB

In [207]:
act.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 7 columns):
State            52 non-null object
Participation    52 non-null object
English          52 non-null float64
Math             52 non-null float64
Reading          52 non-null float64
Science          52 non-null float64
Composite        52 non-null object
dtypes: float64(4), object(3)
memory usage: 2.9+ KB

#### 3. Verbally Describe Data

Take your time looking through the data and thoroughly describe the data in the markdown cell below.

Answer:

#### 4a. Does the data look complete?

Answer:

The data looks complete as running a test below for any null values within both datasets return false (not accounting for any inaccurate data). 

The ACT data includes one additional "State" entry than the SAT data - it includes a state entry called "National". A quick run below shows this via comparing states between ACT and SAT data. This is confirmed as well by going to the source page, where "National" is shown as an entry within the data.

Checking for unique value counts show that there are 51 counts according to the above observation, barring for 'National' in ACT dataset.

In [208]:
sat_state = [i for i in sat['State']]
act_state = [i for i in act['State']]

for i in act_state:
    if i not in sat_state:
        print(i)

National

In [209]:
act = act[1:] #assigning ACT data stripped of 'National' entry
act.nunique()

State            51
Participation    27
English          35
Math             34
Reading          38
Science          34
Composite        37
dtype: int64

In [210]:
sat["State"].nunique()

51

In [211]:
act['State'].nunique()

51

In [212]:
sat.isnull().any()

State                                 False
Participation                         False
Evidence-Based Reading and Writing    False
Math                                  False
Total                                 False
dtype: bool

In [213]:
act.isnull().any()

State            False
Participation    False
English          False
Math             False
Reading          False
Science          False
Composite        False
dtype: bool

#### 4b. Are there any obvious issues with the observations?

**What is the minimum *possible* value for each test/subtest? What is the maximum *possible* value?**

Consider comparing any questionable values to the sources of your data:
- [SAT](https://blog.collegevine.com/here-are-the-average-sat-scores-by-state/)
- [ACT](https://blog.prepscholar.com/act-scores-by-state-averages-highs-and-lows)

Answer:

In [214]:
sat.describe()

       Evidence-Based Reading and Writing        Math        Total
count                           51.000000   51.000000    51.000000
mean                           569.117647  547.627451  1126.098039
std                             45.666901   84.909119    92.494812
min                            482.000000   52.000000   950.000000
25%                            533.500000  522.000000  1055.500000
50%                            559.000000  548.000000  1107.000000
75%                            613.000000  599.000000  1212.000000
max                            644.000000  651.000000  1295.000000

In [215]:
#sat[(sat['Math'] > 800) | (sat['Evidence-Based Reading and Writing'] > 800) | (sat['Total'] > 1600)]

In [216]:
act.describe()

         English       Math    Reading    Science
count  51.000000  51.000000  51.000000  51.000000
mean   20.931373  21.182353  22.013725  21.041176
std     2.353677   1.981989   2.067271   3.182463
min    16.300000  18.000000  18.100000   2.300000
25%    19.000000  19.400000  20.450000  19.900000
50%    20.700000  20.900000  21.800000  21.300000
75%    23.300000  23.100000  24.150000  22.750000
max    25.500000  25.300000  26.000000  24.900000

#### 4c. Fix any errors you identified

**The data is available** so there's no need to guess or calculate anything. If you didn't find any errors, continue to the next step.

#### 5. What are your data types? 
Display the data types of each feature.

In [217]:
sat.dtypes

State                                 object
Participation                         object
Evidence-Based Reading and Writing     int64
Math                                   int64
Total                                  int64
dtype: object

In [218]:
act.dtypes

State             object
Participation     object
English          float64
Math             float64
Reading          float64
Science          float64
Composite         object
dtype: object

What did you learn?
- Do any of them seem odd?  
- Which ones are not as they should be?

Answer:

The data type for the "Participation" columns on both datasets are of object (string) type due to the presence of the "%" sign. Furthermore, the 'Composite' column in the ACT dataset contains a single value for state "Wyoming" where there's a string "x" attached to its numerical figures. This should be removed, and then the whole column should be casted to a float data type.

#### 6. Fix Incorrect Data Types
Based on what you discovered above, use appropriate methods to re-type incorrectly typed data.
- Define a function that will allow you to convert participation rates to an appropriate numeric type. Use `map` or `apply` to change these columns in each dataframe.

In [219]:
sat["Participation"] = sat["Participation"].replace("\%", "", regex=True).astype(int)
act["Participation"] = act["Participation"].replace("\%", "", regex=True).astype(int)

- Fix any individual values preventing other columns from being the appropriate type.

In [220]:
act['Composite'].value_counts()

21.4     3
20.3     3
19.8     3
23.6     2
19.4     2
21.9     2
20.4     2
19.7     2
24.2     2
21.8     2
24.1     2
20.8     1
24.0     1
19.5     1
18.7     1
20.7     1
25.5     1
19.1     1
19.2     1
21.5     1
22.3     1
18.6     1
20.2x    1
22.6     1
23.7     1
23.8     1
23.9     1
21.7     1
22.8     1
22.0     1
25.4     1
17.8     1
20.5     1
19.0     1
25.2     1
20.0     1
24.3     1
Name: Composite, dtype: int64

In [221]:
act['Composite'] = act['Composite'].replace('\D', "", regex=True).astype(float)

In [222]:
act['Composite'] = act['Composite']/10

In [223]:
act['Composite']

1     19.2
2     19.8
3     19.7
4     19.4
5     22.8
6     20.8
7     25.2
8     24.1
9     24.2
10    19.8
11    21.4
12    19.0
13    22.3
14    21.4
15    22.6
16    21.9
17    21.7
18    20.0
19    19.5
20    24.3
21    23.6
22    25.4
23    24.1
24    21.5
25    18.6
26    20.4
27    20.3
28    21.4
29    17.8
30    25.5
31    23.9
32    19.7
33    24.2
34    19.1
35    20.3
36    22.0
37    19.4
38    21.8
39    23.7
40    24.0
41    18.7
42    21.8
43    19.8
44    20.7
45    20.3
46    23.6
47    23.8
48    21.9
49    20.4
50    20.5
51    20.2
Name: Composite, dtype: float64

- Finish your data modifications by making sure the columns are now typed appropriately.

In [224]:
#Data modifications done in above cells.

- Display the data types again to confirm they are correct.

In [225]:
sat.dtypes

State                                 object
Participation                          int64
Evidence-Based Reading and Writing     int64
Math                                   int64
Total                                  int64
dtype: object

In [226]:
act.dtypes

State             object
Participation      int64
English          float64
Math             float64
Reading          float64
Science          float64
Composite        float64
dtype: object

#### 7. Rename Columns
Change the names of the columns to more expressive names so that you can tell the difference the SAT columns and the ACT columns. Your solution should map all column names being changed at once (no repeated singular name-changes). **We will be combining these data with some of the data from 2018, and so you should name columns in an appropriate way**.

**Guidelines**:
- Column names should be all lowercase (you will thank yourself when you start pushing data to SQL later in the course)
- Column names should not contain spaces (underscores will suffice--this allows for using the `df.column_name` method to access columns in addition to `df['column_name']`.
- Column names should be unique and informative (the only feature that we actually share between dataframes is the state).

In [227]:
sat_col_lower = [("sat_" + i.lower().replace(" ", "_") + "_17") for i in sat.columns]
sat_col_lower[0] = 'state'
sat_col_lower

['state',
 'sat_participation_17',
 'sat_evidence-based_reading_and_writing_17',
 'sat_math_17',
 'sat_total_17']

In [228]:
sat.columns = sat_col_lower

In [229]:
act_col_lower = [("act_" + i.lower().replace(" ", "_") + "_17") for i in act.columns]
act_col_lower[0] = 'state'
act_col_lower

['state',
 'act_participation_17',
 'act_english_17',
 'act_math_17',
 'act_reading_17',
 'act_science_17',
 'act_composite_17']

In [230]:
act.columns = act_col_lower

In [231]:
act.columns

Index(['state', 'act_participation_17', 'act_english_17', 'act_math_17',
       'act_reading_17', 'act_science_17', 'act_composite_17'],
      dtype='object')

#### 8. Create a data dictionary

Now that we've fixed our data, and given it appropriate names, let's create a [data dictionary](http://library.ucmerced.edu/node/10249). 

A data dictionary provides a quick overview of features/variables/columns, alongside data types and descriptions. The more descriptive you can be, the more useful this document is.

Example of a Fictional Data Dictionary Entry: 

|Feature|Type|Dataset|Description|
|---|---|---|---|
|**county_pop**|*integer*|2010 census|The population of the county (units in thousands, where 2.5 represents 2500 people).| 
|**per_poverty**|*float*|2010 census|The percent of the county over the age of 18 living below the 200% of official US poverty rate (units percent to two decimal places 98.10 means 98.1%)|

[Here's a quick link to a short guide for formatting markdown in Jupyter notebooks](https://jupyter-notebook.readthedocs.io/en/stable/examples/Notebook/Working%20With%20Markdown%20Cells.html).

Provided is the skeleton for formatting a markdown table, with columns headers that will help you create a data dictionary to quickly summarize your data, as well as some examples. **This would be a great thing to copy and paste into your custom README for this project.**

|Feature|Type|Dataset|Description|
|---|---|---|---|
|column name|int/float/object|ACT/SAT|This is an example|

#### 9. Drop unnecessary rows

One of our dataframes contains an extra row. Identify and remove this from the dataframe.

In [232]:
#Additional row already dropped in step 4a
act.shape

(51, 7)

#### 10. Merge Dataframes

Join the 2017 ACT and SAT dataframes using the state in each dataframe as the key. Assign this to a new variable.

In [233]:
combined_2017 = pd.merge(sat, act, on='state', left_index=True)

In [234]:
combined_2017.head()

,state,sat_participation_17,sat_evidence-based_reading_and_writing_17,sat_math_17,sat_total_17,act_participation_17,act_english_17,act_math_17,act_reading_17,act_science_17,act_composite_17
1,Alabama,5,593,572,1165,100,18.9,18.4,19.7,19.4,19.2
2,Alaska,38,547,533,1080,65,18.7,19.8,20.4,19.9,19.8
3,Arizona,30,563,553,1116,62,18.6,19.8,20.1,19.8,19.7
4,Arkansas,3,614,594,1208,100,18.9,19.0,19.7,19.5,19.4
5,California,53,531,524,1055,31,22.5,22.7,23.1,22.2,22.8

#### 11. Save your cleaned, merged dataframe

Use a relative path to save out your data as `combined_2017.csv`.

In [235]:
combined_2017.to_csv("../data/combined_2017.csv")

## 2018 Data Import and Cleaning

Links to the 2018 ACT and SAT data are provided in the README. These data live in PDFs, and so you'll get to enjoy practicing some *manual* data collection. Save these data as a CSV in your `data` directory, and import, explore, and clean these data in the same way you did above. **Make sure you comment on your steps so it is clear *why* you are doing each process**.

In [287]:
import tabula
import pandas as pd
import numpy as np

In [288]:
# Function that takes in a state's SAT 2018 file and outputs a dataframe containing the required data.

def create_df(folder, filename, guess=True):
    path = folder+filename
    df1 = tabula.read_pdf(path, pages=4, multiple_tables=True, stream=True)
    stats = [filename.split(".")[0], df1[0][1][1], df1[0][3][1], df1[0][4][1], df1[0][2][1]]
    name = filename.split(".")[0]
    output = pd.DataFrame(stats, index=['state','sat_participation_18','sat_evidence-based_reading_and_writing_18','sat_math_18','sat_total_18'])
    return output

In [289]:
state_list = [i.lower() for i in combined_2017['state']]
print(state_list)

['alabama', 'alaska', 'arizona', 'arkansas', 'california', 'colorado', 'connecticut', 'delaware', 'district of columbia', 'florida', 'georgia', 'hawaii', 'idaho', 'illinois', 'indiana', 'iowa', 'kansas', 'kentucky', 'louisiana', 'maine', 'maryland', 'massachusetts', 'michigan', 'minnesota', 'mississippi', 'missouri', 'montana', 'nebraska', 'nevada', 'new hampshire', 'new jersey', 'new mexico', 'new york', 'north carolina', 'north dakota', 'ohio', 'oklahoma', 'oregon', 'pennsylvania', 'rhode island', 'south carolina', 'south dakota', 'tennessee', 'texas', 'utah', 'vermont', 'virginia', 'washington', 'west virginia', 'wisconsin', 'wyoming']

In [290]:
sat_2018 = pd.DataFrame()

for i in state_list:
    df = create_df("../data/sat_2018/","{}".format(i)+".pdf")
    sat_2018 = pd.concat([sat_2018 ,df], axis=1, sort=False)

In [291]:
sat_2018 = sat_2018.transpose()

In [292]:
sat_2018.head()

,state,sat_participation_18,sat_evidence-based_reading_and_writing_18,sat_math_18,sat_total_18
0,alabama,"2,878",595,571,1166
0,alaska,"3,334",562,544,1106
0,arizona,"20,188",577,572,1149
0,arkansas,"1,591",592,576,1169
0,california,"262,228",540,536,1076

In [293]:
sat_2018.reset_index(drop=True, inplace=True)
sat_2018.index = sat_2018.index + 1

In [294]:
sat_2018

,state,sat_participation_18,sat_evidence-based_reading_and_writing_18,sat_math_18,sat_total_18
1,alabama,"2,878",595,571,1166
2,alaska,"3,334",562,544,1106
3,arizona,"20,188",577,572,1149
4,arkansas,"1,591",592,576,1169
5,california,"262,228",540,536,1076
6,colorado,"13,972 24%",1171,591,NaN
7,connecticut,"44,700",535,519,1053
8,delaware,"11,055",505,492,998
9,district of columbia,"4,391 88%",989,503,NaN
10,florida,"176,746",522,493,1014
11,georgia,"74,240",542,522,1064
12,hawaii,"7,880",550,549,1099
13,idaho,"19,404 95%",1005,510,NaN
14,illinois,"142,295 98%",1022,514,NaN
15,indiana,"48,962",546,539,1086
16,iowa,994,634,631,1265
17,kansas,"1,419",633,631,1265
18,kentucky,"1,925",630,618,1248
19,louisiana,"2,027",615,595,1210
20,maine,"14,310",512,501,1013
21,maryland,"29,839 62%",1118,564,NaN
22,massachusetts,"59,382",562,563,1125
23,michigan,"112,175 97%",1013,513,NaN
24,minnesota,"2,464",643,655,1298
25,mississippi,806,630,606,1236
26,missouri,"2,420",633,629,1262
27,montana,952,606,592,1198
28,nebraska,688,629,623,1252
29,nevada,"5,588",574,566,1140
30,new hampshire,"14,834",535,528,1063
31,new jersey,"84,672",547,547,1094
32,new mexico,"3,225",552,540,1093
33,new york,"162,551",534,534,1068
34,north carolina,"54,987",554,543,1098
35,north dakota,148,640,643,1283
36,ohio,"22,992",552,547,1099
37,oklahoma,"3,337",541,521,1062
38,oregon,"17,476",564,553,1117
39,pennsylvania,"96,740",547,539,1086
40,rhode island,"10,161",513,505,1018
41,south carolina,"25,390",547,523,1070
42,south dakota,260,622,618,1241
43,tennessee,"4,181",624,607,1231
44,texas,"226,374",520,512,1032
45,utah,"1,425",618,612,1230
46,vermont,"4,323",565,554,1120
47,virginia,"61,576",567,550,1117
48,washington,"35,847 74%",1087,546,NaN
49,west virginia,"3,539 70%",976,502,NaN
50,wisconsin,"1,923",641,653,1294
51,wyoming,169,633,625,1257

In [295]:
sat_2018.dtypes

state                                        object
sat_participation_18                         object
sat_evidence-based_reading_and_writing_18    object
sat_math_18                                  object
sat_total_18                                 object
dtype: object

In [306]:
sat_2018.isnull().any()

state                                        False
sat_participation_18                         False
sat_evidence-based_reading_and_writing_18    False
sat_math_18                                  False
sat_total_18                                  True
dtype: bool

In [305]:
sat_2018['sat_math_18'] = sat_2018['sat_math_18'].astype(int)

In [297]:
sat_2018['sat_evidence-based_reading_and_writing_18'] = sat_2018['sat_evidence-based_reading_and_writing_18'].astype(int)

In [307]:
sat_2018.dtypes

state                                        object
sat_participation_18                         object
sat_evidence-based_reading_and_writing_18     int64
sat_math_18                                   int64
sat_total_18                                 object
dtype: object

In [308]:
sat_2018['sat_participation1_18'] = sat_2018['sat_participation_18'].replace(",","", regex=True)

In [309]:
sat_2018['sat_participation1_18'] = sat_2018['sat_participation1_18'].replace("\%", "", regex=True)

In [310]:
sat_2018['sat_participation1_18'] = sat_2018['sat_participation1_18'].str.split(" ")

In [311]:
x = []

for i in sat_2018['sat_participation1_18']:
    x.append(i[0])

In [312]:
x = pd.DataFrame(x, columns=['sat_participation_18'])

In [313]:
x.index = x.index + 1

In [314]:
x.astype(int)

    sat_participation_18
1                   2878
2                   3334
3                  20188
4                   1591
5                 262228
6                  13972
7                  44700
8                  11055
9                   4391
10                176746
11                 74240
12                  7880
13                 19404
14                142295
15                 48962
16                   994
17                  1419
18                  1925
19                  2027
20                 14310
21                 29839
22                 59382
23                112175
24                  2464
25                   806
26                  2420
27                   952
28                   688
29                  5588
30                 14834
31                 84672
32                  3225
33                162551
34                 54987
35                   148
36                 22992
37                  3337
38                 17476
39                 96740
40                 10161
41                 25390
42                   260
43                  4181
44                226374
45                  1425
46                  4323
47                 61576
48                 35847
49                  3539
50                  1923
51                   169

In [315]:
sat_2018.drop('sat_participation_18', axis=1, inplace=True)

In [316]:
sat_2018.drop('sat_participation1_18', axis=1, inplace=True)

In [317]:
sat_2018 = pd.concat([sat_2018 ,x], axis=1, sort=False)

In [318]:
sat_2018['sat_participation_18'] = sat_2018['sat_participation_18'].astype(int)

In [319]:
sat_2018.head()

,state,sat_evidence-based_reading_and_writing_18,sat_math_18,sat_total_18,sat_participation_18
1,alabama,595,571,1166,2878
2,alaska,562,544,1106,3334
3,arizona,577,572,1149,20188
4,arkansas,592,576,1169,1591
5,california,540,536,1076,262228

In [784]:
sat_2018['state'] = sat_2018['state'].str.title()

In [800]:
sat_2018.iloc[:][8:9]['state'] = 'District of Columbia'

In [804]:
sat_2018.head()

,state,sat_evidence-based_reading_and_writing_18,sat_math_18,sat_total_18,sat_participation_18
1,Alabama,595,571,1166,2878
2,Alaska,562,544,1106,3334
3,Arizona,577,572,1149,20188
4,Arkansas,592,576,1168,1591
5,California,540,536,1076,262228

In [805]:
sat_2018.dtypes

state                                        object
sat_evidence-based_reading_and_writing_18     int64
sat_math_18                                   int64
sat_total_18                                  int64
sat_participation_18                          int64
dtype: object

In [806]:
sat_2018['sat_total_18'] = sat_2018['sat_evidence-based_reading_and_writing_18'] + sat_2018['sat_math_18']

In [807]:
sat_2018

,state,sat_evidence-based_reading_and_writing_18,sat_math_18,sat_total_18,sat_participation_18
1,Alabama,595,571,1166,2878
2,Alaska,562,544,1106,3334
3,Arizona,577,572,1149,20188
4,Arkansas,592,576,1168,1591
5,California,540,536,1076,262228
6,Colorado,1171,591,1762,13972
7,Connecticut,535,519,1054,44700
8,Delaware,505,492,997,11055
9,District of Columbia,989,503,1492,4391
10,Florida,522,493,1015,176746
11,Georgia,542,522,1064,74240
12,Hawaii,550,549,1099,7880
13,Idaho,1005,510,1515,19404
14,Illinois,1022,514,1536,142295
15,Indiana,546,539,1085,48962
16,Iowa,634,631,1265,994
17,Kansas,633,631,1264,1419
18,Kentucky,630,618,1248,1925
19,Louisiana,615,595,1210,2027
20,Maine,512,501,1013,14310
21,Maryland,1118,564,1682,29839
22,Massachusetts,562,563,1125,59382
23,Michigan,1013,513,1526,112175
24,Minnesota,643,655,1298,2464
25,Mississippi,630,606,1236,806
26,Missouri,633,629,1262,2420
27,Montana,606,592,1198,952
28,Nebraska,629,623,1252,688
29,Nevada,574,566,1140,5588
30,New Hampshire,535,528,1063,14834
31,New Jersey,547,547,1094,84672
32,New Mexico,552,540,1092,3225
33,New York,534,534,1068,162551
34,North Carolina,554,543,1097,54987
35,North Dakota,640,643,1283,148
36,Ohio,552,547,1099,22992
37,Oklahoma,541,521,1062,3337
38,Oregon,564,553,1117,17476
39,Pennsylvania,547,539,1086,96740
40,Rhode Island,513,505,1018,10161
41,South Carolina,547,523,1070,25390
42,South Dakota,622,618,1240,260
43,Tennessee,624,607,1231,4181
44,Texas,520,512,1032,226374
45,Utah,618,612,1230,1425
46,Vermont,565,554,1119,4323
47,Virginia,567,550,1117,61576
48,Washington,1087,546,1633,35847
49,West Virginia,976,502,1478,3539
50,Wisconsin,641,653,1294,1923
51,Wyoming,633,625,1258,169

In [808]:
act_2018 = pd.read_csv("../data/act_2018/act18.csv")

In [809]:
act_2018.drop(index=[i for i in range(0,16)], inplace=True)

In [810]:
act_2018.reset_index(drop=True, inplace=True)

In [811]:
act_2018.head()

                       State\t"Percent of
0      Alabama\t100\t19.1\t51\t35\t23\t24
1     Arkansas\t100\t19.4\t53\t36\t27\t26
2     Kentucky\t100\t20.2\t59\t43\t33\t32
3    Louisiana\t100\t19.2\t53\t35\t24\t25
4  Mississippi\t100\t18.6\t47\t29\t21\t20

In [812]:
act_2018.columns

Index(['State\t"Percent of'], dtype='object')

In [813]:
act_2018['raw'] = act_2018['State\t"Percent of']

In [814]:
act_2018.drop('State\t"Percent of', axis=1, inplace=True)

In [815]:
act_2018.head()

                                      raw
0      Alabama\t100\t19.1\t51\t35\t23\t24
1     Arkansas\t100\t19.4\t53\t36\t27\t26
2     Kentucky\t100\t20.2\t59\t43\t33\t32
3    Louisiana\t100\t19.2\t53\t35\t24\t25
4  Mississippi\t100\t18.6\t47\t29\t21\t20

In [816]:
act_2018['raw'] = act_2018['raw'].str.split("\t")

In [817]:
act_2018

                                                 raw
0               [Alabama, 100, 19.1, 51, 35, 23, 24]
1              [Arkansas, 100, 19.4, 53, 36, 27, 26]
2              [Kentucky, 100, 20.2, 59, 43, 33, 32]
3             [Louisiana, 100, 19.2, 53, 35, 24, 25]
4           [Mississippi, 100, 18.6, 47, 29, 21, 20]
5                [Missouri, 100, 20, 56, 41, 33, 32]
6                 [Montana, 100, 20, 52, 41, 35, 32]
7              [Nebraska, 100, 20.1, 56, 40, 35, 33]
8                [Nevada, 100, 17.7, 38, 27, 21, 18]
9        [North Carolina, 100, 19.1, 46, 35, 31, 25]
10                 [Ohio, 100, 20.3, 55, 43, 38, 35]
11             [Oklahoma, 100, 19.3, 50, 39, 26, 26]
12       [South Carolina, 100, 18.3, 42, 30, 24, 20]
13            [Tennessee, 100, 19.6, 54, 38, 28, 28]
14                 [Utah, 100, 20.4, 58, 43, 36, 34]
15            [Wisconsin, 100, 20.5, 59, 42, 40, 36]
16                [Wyoming, 100, 20, 55, 41, 33, 33]
17             [Minnesota, 99, 21.3, 60, 48, 47, 42]
18          [North Dakota, 98, 20.3, 57, 43, 39, 34]
19                [Hawaii, 89, 18.9, 48, 32, 28, 24]
20          [South Dakota, 77, 21.9, 68, 54, 49, 46]
21                [Kansas, 71, 21.6, 67, 52, 44, 41]
22                  [Iowa, 68, 21.8, 70, 54, 44, 45]
23            [New Mexico, 67, 19.4, 48, 37, 28, 27]
24               [Arizona, 66, 19.2, 47, 35, 32, 27]
25               [Florida, 66, 19.9, 53, 43, 32, 29]
26         [West Virginia, 65, 20.3, 61, 46, 30, 32]
27               [Georgia, 53, 21.4, 65, 49, 40, 38]
28              [Illinois, 43, 23.9, 82, 64, 61, 55]
29                [Oregon, 42, 21.3, 63, 49, 43, 40]
30                 [Texas, 41, 20.6, 56, 44, 39, 35]
31                 [Idaho, 36, 22.3, 73, 58, 49, 46]
32                [Alaska, 33, 20.8, 60, 49, 42, 36]
33  [District of Columbia, 32, 23.6, 70, 60, 54, 51]
34               [Indiana, 32, 22.5, 73, 57, 53, 47]
35              [Maryland, 31, 22.5, 69, 57, 50, 47]
36            [New Jersey, 31, 23.7, 79, 63, 62, 53]
37              [Colorado, 30, 23.9, 82, 65, 61, 57]
38            [California, 27, 22.7, 72, 56, 53, 46]
39              [New York, 27, 24.5, 83, 68, 67, 62]
40           [Connecticut, 26, 25.6, 90, 75, 71, 67]
41         [Massachusetts, 25, 25.5, 88, 74, 74, 66]
42               [Vermont, 24, 24.1, 83, 69, 63, 60]
43              [Virginia, 24, 23.9, 80, 66, 60, 57]
44            [Washington, 24, 22.2, 65, 54, 52, 47]
45              [Michigan, 22, 24.4, 84, 67, 65, 60]
46          [Pennsylvania, 20, 23.5, 80, 64, 60, 55]
47              [Delaware, 17, 23.8, 79, 64, 59, 56]
48         [New Hampshire, 16, 25.1, 88, 73, 72, 64]
49          [Rhode Island, 15, 24.2, 85, 69, 64, 58]
50                    [Maine, 7, 24, 84, 69, 64, 56]
51              [National, 55, 20.8, 60, 46, 40, 36]

In [818]:
participation = []
state = []
english = []
math = []
reading = []
science = []
composite = []

for i in act_2018['raw']:
    participation.append(i[1])
    state.append(i[0])
    english.append(i[3])
    math.append(i[5])  
    reading.append(i[4])
    science.append(i[6])
    composite.append(i[2])

In [819]:
state = pd.DataFrame(state, columns=['state'])
participation = pd.DataFrame(participation, columns=['act_participation_18'])
english = pd.DataFrame(english, columns=['act_english_18'])
math = pd.DataFrame(math, columns=['act_math_18'])
reading = pd.DataFrame(reading, columns=['act_reading_18'])
science = pd.DataFrame(science, columns=['act_science_18'])
composite = pd.DataFrame(composite, columns=['act_composite_18'])

In [820]:
act_2018 = pd.concat([act_2018, state], axis=1, sort=False)
act_2018 = pd.concat([act_2018, participation], axis=1, sort=False)
act_2018 = pd.concat([act_2018, english], axis=1, sort=False)
act_2018 = pd.concat([act_2018, math], axis=1, sort=False)
act_2018 = pd.concat([act_2018, reading], axis=1, sort=False)
act_2018 = pd.concat([act_2018, science], axis=1, sort=False)
act_2018 = pd.concat([act_2018, composite], axis=1, sort=False)

In [821]:
act_2018.drop('raw', axis=1, inplace=True)

In [822]:
act_2018 = act_2018.iloc[0:-1]

In [823]:
act_2018.head()

,state,act_participation_18,act_english_18,act_math_18,act_reading_18,act_science_18,act_composite_18
0,Alabama,100,51,23,35,24,19.1
1,Arkansas,100,53,27,36,26,19.4
2,Kentucky,100,59,33,43,32,20.2
3,Louisiana,100,53,24,35,25,19.2
4,Mississippi,100,47,21,29,20,18.6

In [824]:
act_2018.dtypes

state                   object
act_participation_18    object
act_english_18          object
act_math_18             object
act_reading_18          object
act_science_18          object
act_composite_18        object
dtype: object

In [825]:
act_2018['act_participation_18'] = act_2018['act_participation_18'].astype(int)
act_2018['act_english_18'] = act_2018['act_english_18'].astype(int)
act_2018['act_math_18'] = act_2018['act_math_18'].astype(int)
act_2018['act_reading_18'] = act_2018['act_reading_18'].astype(int)
act_2018['act_science_18'] = act_2018['act_science_18'].astype(int)
act_2018['act_composite_18'] = act_2018['act_composite_18'].astype(float)

In [826]:
act_2018.dtypes

state                    object
act_participation_18      int64
act_english_18            int64
act_math_18               int64
act_reading_18            int64
act_science_18            int64
act_composite_18        float64
dtype: object

In [827]:
act_2018.head()

,state,act_participation_18,act_english_18,act_math_18,act_reading_18,act_science_18,act_composite_18
0,Alabama,100,51,23,35,24,19.1
1,Arkansas,100,53,27,36,26,19.4
2,Kentucky,100,59,33,43,32,20.2
3,Louisiana,100,53,24,35,25,19.2
4,Mississippi,100,47,21,29,20,18.6

In [847]:
act_2018.index = act_2018.index + 1

In [829]:
act_2018.shape

(51, 7)

In [832]:
sat_state = [i for i in sat_2018['state']]
act_state = [i for i in act_2018['state']]

for i in act_state:
    if i not in sat_state:
        print(i)
        
for i in sat_state:
    if i not in act_state:
        print(i)

In [848]:
act_2018.head()

,state,act_participation_18,act_english_18,act_math_18,act_reading_18,act_science_18,act_composite_18
1,Alabama,100,51,23,35,24,19.1
2,Arkansas,100,53,27,36,26,19.4
3,Kentucky,100,59,33,43,32,20.2
4,Louisiana,100,53,24,35,25,19.2
5,Mississippi,100,47,21,29,20,18.6

In [838]:
combined_2018 = pd.merge(sat_2018, act_2018, on='state', left_index=True)

In [839]:
combined_2018.shape

(51, 11)

#### Combine your 2017 and 2018 data into a single dataframe
Joining on state names should work, assuming you formatted all your state names identically. Make sure none of your columns (other than state) have identical names. Do yourself a favor and decide if you're encoding participation rates as floats or integers and standardize this across your datasets.

Save the contents of this merged dataframe as `final.csv`.

**Use this combined dataframe for the remainder of the project**.

In [834]:
combined_2017.shape

(51, 11)

In [840]:
final = pd.merge(combined_2017, combined_2018, on='state', left_index=True)

In [843]:
final.shape

(51, 21)

In [849]:
final.reset_index(drop=True, inplace=True)

In [850]:
final.head()

,state,sat_participation_17,sat_evidence-based_reading_and_writing_17,sat_math_17,sat_total_17,act_participation_17,act_english_17,act_math_17,act_reading_17,act_science_17,...,sat_evidence-based_reading_and_writing_18,sat_math_18,sat_total_18,sat_participation_18,act_participation_18,act_english_18,act_math_18,act_reading_18,act_science_18,act_composite_18
0,Alabama,5,593,572,1165,100,18.9,18.4,19.7,19.4,...,595,571,1166,2878,100,51,23,35,24,19.1
1,Alaska,38,547,533,1080,65,18.7,19.8,20.4,19.9,...,562,544,1106,3334,33,60,42,49,36,20.8
2,Arizona,30,563,553,1116,62,18.6,19.8,20.1,19.8,...,577,572,1149,20188,66,47,32,35,27,19.2
3,Arkansas,3,614,594,1208,100,18.9,19.0,19.7,19.5,...,592,576,1168,1591,100,53,27,36,26,19.4
4,California,53,531,524,1055,31,22.5,22.7,23.1,22.2,...,540,536,1076,262228,27,72,53,56,46,22.7

In [851]:
final.dtypes

state                                         object
sat_participation_17                           int64
sat_evidence-based_reading_and_writing_17      int64
sat_math_17                                    int64
sat_total_17                                   int64
act_participation_17                           int64
act_english_17                               float64
act_math_17                                  float64
act_reading_17                               float64
act_science_17                               float64
act_composite_17                             float64
sat_evidence-based_reading_and_writing_18      int64
sat_math_18                                    int64
sat_total_18                                   int64
sat_participation_18                           int64
act_participation_18                           int64
act_english_18                                 int64
act_math_18                                    int64
act_reading_18                                 int64
act_science_18                                 int64
act_composite_18                             float64
dtype: object

## Exploratory Data Analysis


### Summary Statistics
Transpose the output of pandas `describe` method to create a quick overview of each numeric feature.

In [ ]:
#Code:

#### Manually calculate standard deviation

$$\sigma = \sqrt{\frac{1}{n}\sum_{i=1}^n(x_i - \mu)^2}$$

- Write a function to calculate standard deviation using the formula above

In [ ]:
#code

- Use a **dictionary comprehension** to apply your standard deviation function to each numeric column in the dataframe.  **No loops**  
- Assign the output to variable `sd` as a dictionary where: 
    - Each column name is now a key 
    - That standard deviation of the column is the value 
     
*Example Output :* `{'ACT_Math': 120, 'ACT_Reading': 120, ...}`

In [ ]:
#Code:

Do your manually calculated standard deviations match up with the output from pandas `describe`? What about numpy's `std` method?

Answer

#### Investigate trends in the data
Using sorting and/or masking (along with the `.head` method to not print our entire dataframe), consider the following questions:

- Which states have the highest and lowest participation rates for the:
    - 2017 SAT?
    - 2018 SAT?
    - 2017 ACT?
    - 2018 ACT?
- Which states have the highest and lowest mean total/composite scores for the:
    - 2017 SAT?
    - 2018 SAT?
    - 2017 ACT?
    - 2018 ACT?
- Do any states with 100% participation on a given test have a rate change year-to-year?
- Do any states show have >50% participation on *both* tests either year?

Based on what you've just observed, have you identified any states that you're especially interested in? **Make a note of these and state *why* you think they're interesting**.

**You should comment on your findings at each step in a markdown cell below your code block**. Make sure you include at least one example of sorting your dataframe by a column, and one example of using boolean filtering (i.e., masking) to select a subset of the dataframe.

In [ ]:
#code

## Visualize the data

There's not a magic bullet recommendation for the right number of plots to understand a given dataset, but visualizing your data is *always* a good idea. Not only does it allow you to quickly convey your findings (even if you have a non-technical audience), it will often reveal trends in your data that escaped you when you were looking only at numbers.

Some recommendations on plotting:
- Plots have titles
- Plots have axis labels
- Plots have appropriate tick labels
- All text is legible in a plot
- Plots demonstrate meaningful and valid relationships
- Plots are interpreted to aid understanding

There is such a thing as too many plots, and there are a *lot* of bad plots. You might make some! (But hopefully not with the guided prompts below).

#### Use Seaborn's heatmap with pandas `.corr()` to visualize correlations between all numeric features

Heatmaps are generally not appropriate for presentations, and should often be excluded from reports as they can be visually overwhelming. **However**, they can be extremely useful in identify relationships of potential interest (as well as identifying potential collinearity before modeling).

*example*:
```python
sns.heatmap(df.corr())
```

Please take time to format your output, adding a title. Look through some of the additional arguments and options. (Axis labels aren't really necessary, as long as the title is informative).

#### Define a custom function to subplot histograms

We have data for two tests for two years. We only have composite (and not subtest scores) for the 2018 ACT. We should write a function that will take the names of 2+ columns and subplot histograms. While you can use pandas plotting or Seaborn here, matplotlib gives you greater control over all aspects of your plots.

[Helpful Link for Plotting Multiple Figures](https://matplotlib.org/users/pyplot_tutorial.html#working-with-multiple-figures-and-axes)

Here's some starter code:

In [ ]:
def subplot_histograms(dataframe, list_of_columns, list_of_titles, list_of_xlabels):
    nrows = int(np.ceil(len(list_of_columns)/2) # Makes sure you have enough rows
    fig, ax = plt.subplots(nrows=nrows, ncols=2) # You'll want to specify your figsize
    ax = ax.ravel() # Ravel turns a matrix into a vector, which is easier to iterate
    for i, column in enumerate(list_of_columns): # Gives us an index value to get into all our lists
        ax[i].hist(dataframe[column]) # feel free to add more settings
        # Set titles, labels, etc here for each subplot

#### Plot and interpret histograms 
For each of the following:
- Participation rates for SAT & ACT
- Math scores for SAT & ACT
- Reading/verbal scores for SAT & ACT

In [ ]:
# Code

#### Plot and interpret scatter plots

For each of the following:
- SAT vs. ACT math scores for 2017
- SAT vs. ACT verbal/reading scores for 2017
- SAT vs. ACT total/composite scores for 2017
- Total scores for SAT 2017 vs. 2018
- Composite scores for ACT 2017 vs. 2018

Plot the two variables against each other using matplotlib or Seaborn

Your plots should show:
- Two clearly labeled axes
- A proper title
- Using colors and symbols that are clear and unmistakable

**Feel free to write a custom function, and subplot if you'd like.** Functions save both time and space.

In [ ]:
# Code

#### Plot and interpret boxplots

For each numeric variable in the dataframe create a boxplot using Seaborn. Boxplots demonstrate central tendency and spread in variables. In a certain sense, these are somewhat redundant with histograms, but you may be better able to identify clear outliers or differences in IQR, etc.

Multiple values can be plotted to a single boxplot as long as they are of the same relative scale (meaning they have similar min/max values).

Each boxplot should:
- Only include variables of a similar scale
- Have clear labels for each variable
- Have appropriate titles and labels

In [ ]:
# Code

#### Feel free to do additional plots below
*(do research and choose your own chart types & variables)*

Are there any additional trends or relationships you haven't explored? Was there something interesting you saw that you'd like to dive further into? It's likely that there are a few more plots you might want to generate to support your narrative and recommendations that you are building toward. **As always, make sure you're interpreting your plots as you go**.

#### (Optional): Using Tableau, create a choropleth map for each variable using a map of the US. 

Save this plot as an image file in an images directory, provide a relative path, and insert the image into notebook in markdown.

## Descriptive and Inferential Statistics

#### Summarizing Distributions

Above, we used pandas `describe` to provide quick summary statistics of our numeric columns. We also demonstrated many visual relationships.

As data scientists, having a complete understanding of data is imperative prior to modeling.

While we will continue to build our analytic tools, we know that measures of *central tendency*, *spread*, and *shape/skewness* provide a quick summary of distributions.

For each variable in your data, summarize the underlying distributions (in words & statistics)
 - Be thorough in your verbal description of these distributions.
 - Be sure to back up these summaries with statistics.

Answers:

#### We generally assuming that data we sample from a population will be normally distributed. Do we observe this trend?

Answer:

Does This Assumption Hold for:
    - Math
    - Reading
    - Rates
Explain your answers for each distribution and how you think this will affect estimates made from these data.

Answer:

#### Estimate Limits of Data

Suppose we only seek to understand the relationship between SAT and ACT participation rates in 2017. 

##### Does it make sense to conduct statistical inference given these data specifically? 

Why or why not?

*(think about granularity, aggregation, the relationships between populations size & rates...consider the actually populations these data describe in answering this question)*

Answer:

##### Is it appropriate to compare *these* specific SAT and ACT math scores? 

Why or why not?

Answer:

#### Statistical Evaluation of Distributions 

**If you feel it's appropriate**, using methods we discussed in class, run hypothesis tests to compare variables of interest in our dataset.

In [ ]:
# Code:

## Outside Research

Based upon your observations, choose **three** states that demonstrate interesting trends in their SAT and/or ACT participation rates. Spend some time doing outside research on state policies that might influence these rates, and summarize your findings below. **Feel free to go back and create new plots that highlight these states of interest**. If you bring in any outside tables or charts, make sure you are explicit about having borrowed them. If you quote any text, make sure that it renders as being quoted. (Make sure that you cite your sources -- check with you local instructor for citation preferences).

## Conclusions and Recommendations

Based on your exploration of the data, what are you key takeaways and recommendations? Choose one state with a lower participation rate and provide a suggestion for how the College Board might increase participation amongst graduating seniors in this state. Are there additional data you desire that would better inform your investigations?